<nav>
    <div class="nav-wrapper">
        <a href="/posts" class="brand-logo">Skier's Blog</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/logout">Log out!</a></li>
        </ul>
    </div>
</nav>

<div class="container">
  <form name="new-user-form" action="/users" method="post">
    <div class="row">
      <div class="input-field col-sm-12">
        <label for="title">First Name</label>
        <input class="input-field col-sm-12" name="first_name" type="text">
      </div>
      <div class="input-field col-sm-12">
        <label for="title">Last Name</label>
        <input class="input-field col-sm-12" name="last_name" type="text">
      </div>
      <div class="input-field col-sm-12">
        <label for="email">Email Address</label>
        <input name="email" type="text">
      </div>
      <div class="input-field col-sm-12">
        <label for="image">Link to Picture</label>
        <input name="image" type="text">
      </div>
      <button type="submit" class="waves-effect waves-light btn-large">Submit</button>
    </div>
  </form>
</div>
