<nav>
    <div class="nav-wrapper">
        <a href="/posts" class="brand-logo">Skier's Blog</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/logout">Log out!</a></li>
        </ul>
    </div>
</nav>

<div class="container">
  <a href="/users/new" class="waves-effect waves-light btn">Be a contributor</a>
  <a href="/posts" class="waves-effect waves-light btn">Back to Posts</a>

  {{#each users}}
  <div>
    <h4><a href="/users/{{this.id}}">{{this.first_name}} {{this.last_name}}</a></h4>
    <img class="user-image circle" src="{{this.image}}"/>
  </div>
  {{/each}}
</div>
