body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.user-image {
    width: 200px;
    height: 200px;
}
.parallax-container {
    height: 630px;
}

.nav-wrapper {
  background-color: #000080;
}

.post-container {
  text-align: center;
}

.homagepage {
  text-align: center;
}

.users-container {
  text-align: center;
}

h4 {
  text-color: #000080;
}

nav .brand-logo {
  padding-left: 20px;
}
